# 누락된 데이터 처리

isnull, np.nan, dropna, fillna, notnull,

In [3]:
from numpy import nan as NA
import pandas as pd

data = pd.DataFrame( [[1,6.5,3], [1,NA,NA], [NA,NA,NA], [NA,6.5,3]] )
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [4]:
data.dropna(how = 'all') #모두 NA만 제거

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [5]:
data.dropna()

     0    1    2
0  1.0  6.5  3.0

In [9]:
data.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [10]:
data.dropna(thresh=2) #NA가 들어있는 행들 중에서 가장 먼저 나오는 것들 2개 제거

     0    1    2
0  1.0  6.5  3.0
3  NaN  6.5  3.0

In [11]:
data.fillna(0,inplace=True)

In [12]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.5  3.0

In [14]:
import numpy as np

In [15]:
df = pd.DataFrame(np.random.randn(6,3))
df.iloc[2:,1] = NA
df.iloc[4:,2] = NA
df

          0         1         2
0  0.242950 -0.600529  1.905939
1 -0.084071  1.900476  0.504992
2 -1.048301       NaN -0.792175
3  0.323595       NaN  0.857585
4 -1.724880       NaN       NaN
5 -0.071380       NaN       NaN

In [16]:
df.fillna(method='ffill')

          0         1         2
0  0.242950 -0.600529  1.905939
1 -0.084071  1.900476  0.504992
2 -1.048301  1.900476 -0.792175
3  0.323595  1.900476  0.857585
4 -1.724880  1.900476  0.857585
5 -0.071380  1.900476  0.857585

In [17]:
df.fillna(method='ffill', limit=2)

          0         1         2
0  0.242950 -0.600529  1.905939
1 -0.084071  1.900476  0.504992
2 -1.048301  1.900476 -0.792175
3  0.323595  1.900476  0.857585
4 -1.724880       NaN  0.857585
5 -0.071380       NaN  0.857585

# 데이터 변형

## 중복 처리

In [18]:
data = pd.DataFrame( {'k1' : ['one','two']*3 + ['two'], 'k2' : [1,1,2,3,3,4,4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [20]:
data.duplicated() # 각 행이 이전의 어떤것과 중복되는지만 표시

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [21]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [22]:
data['V1'] = range(7)

data.drop_duplicates(['k1'])

    k1  k2  V1
0  one   1   0
1  two   1   1

In [23]:
data.drop_duplicates(['k1'],keep='last')

    k1  k2  V1
4  one   3   4
6  two   4   6

In [24]:
data.drop_duplicates(['k1'],keep='first')

    k1  k2  V1
0  one   1   0
1  two   1   1

In [25]:
data.drop_duplicates(['k1'],keep=False) #해당 기준으로 중복되면 그냥 다 제거

Empty DataFrame
Columns: [k1, k2, V1]
Index: []

## dataframe 데이터 처리

In [26]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon',
                              'Pastrami', 'corned beef', 'Bacon',
                              'pastrami', 'honey ham', 'nova lox'],
                     'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [28]:
meat_to_animal = {
  'bacon': 'pig',
  'pulled pork': 'pig',
  'pastrami': 'cow',
  'corned beef': 'cow',
  'honey ham': 'pig',
  'nova lox': 'salmon'
}

In [30]:
lc = data['food'].str.lower()
lc

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [31]:
data['animal'] = lc.map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [32]:
data['food'].map( lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [36]:
data = pd.Series([1,-999,2,-999,-1000])
data

0       1
1    -999
2       2
3    -999
4   -1000
dtype: int64

In [37]:
data.replace(-999,NA)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
dtype: float64

In [38]:
data.replace([-999,-1000],NA)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
dtype: float64

In [39]:
data.replace({-999 : NA, -1000 : 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
dtype: float64

In [41]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=['Ohio', 'Colorado', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data.index

Index(['Ohio', 'Colorado', 'New York'], dtype='object')

In [42]:
transform = lambda x: x.upper()

data.index.map(transform)

Index(['OHIO', 'COLORADO', 'NEW YORK'], dtype='object')

In [43]:
data.rename(index=str.title, columns=str.upper)

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [49]:
data.rename(index={'Ohio':'INDIANA'},inplace=True)
data

          one  two  three  four
INDIANA     0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

## 그룹화

In [50]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18,25,35,60,100]
cats = pd.cut(ages,bins)
cats #(는 포함하지 않고 ]는 포함하는 방식으로 그룹화 시킴

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [53]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [54]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [57]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [58]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18,26,36,61,100]
cats = pd.cut(ages,bins,right=False) #오른쪽에 대괄호를 넣지 않고 왼쪽에 대괄호를 넣어서 왼쪽이 포함되게 변경함
cats

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [59]:
gn = ['youth','adult','middle','senior']
pd.cut(ages,bins,labels=gn)

[youth, youth, youth, adult, youth, ..., adult, middle, middle, middle, adult]
Length: 12
Categories (4, object): [youth < adult < middle < senior]

In [61]:
data =np.random.rand(20)
tk = pd.cut(data, 4, precision=2) #4개의 그룹으로 나누고, 소수점 아래 2자리까지로 제한
tk

[(0.74, 0.93], (0.16, 0.35], (0.74, 0.93], (0.16, 0.35], (0.55, 0.74], ..., (0.35, 0.55], (0.35, 0.55], (0.16, 0.35], (0.74, 0.93], (0.35, 0.55]]
Length: 20
Categories (4, interval[float64]): [(0.16, 0.35] < (0.35, 0.55] < (0.55, 0.74] < (0.74, 0.93]]

In [63]:
pd.value_counts(tk) #크기가 동일하게 안 나눠짐

(0.74, 0.93]    7
(0.16, 0.35]    7
(0.55, 0.74]    3
(0.35, 0.55]    3
dtype: int64

In [64]:
data2 = np.random.randn(1000)
cats2 = pd.qcut(data2,4)
cats2

[(-0.704, 0.0085], (-0.704, 0.0085], (-0.704, 0.0085], (0.0085, 0.666], (0.666, 2.941], ..., (-3.096, -0.704], (0.666, 2.941], (0.666, 2.941], (-3.096, -0.704], (0.666, 2.941]]
Length: 1000
Categories (4, interval[float64]): [(-3.096, -0.704] < (-0.704, 0.0085] < (0.0085, 0.666] < (0.666, 2.941]]

In [65]:
pd.value_counts(cats2) #크기가 동일하게 나뉘어짐

(0.666, 2.941]      250
(0.0085, 0.666]     250
(-0.704, 0.0085]    250
(-3.096, -0.704]    250
dtype: int64

In [66]:
data2 = np.random.randn(1000)
cats2 = pd.qcut(data2,[0,0.1,0.5,0.9,1.])
cats2

[(-3.715, -1.292], (-1.292, 0.0407], (0.0407, 1.314], (-1.292, 0.0407], (-1.292, 0.0407], ..., (-1.292, 0.0407], (0.0407, 1.314], (0.0407, 1.314], (-1.292, 0.0407], (-1.292, 0.0407]]
Length: 1000
Categories (4, interval[float64]): [(-3.715, -1.292] < (-1.292, 0.0407] < (0.0407, 1.314] < (1.314, 3.235]]

In [68]:
pd.value_counts(cats2) #원하는 비율대로도 나눌수 있음

(0.0407, 1.314]     400
(-1.292, 0.0407]    400
(1.314, 3.235]      100
(-3.715, -1.292]    100
dtype: int64

## 임의 샘플링

In [73]:
tk2 = pd.DataFrame( data.reshape((5,4)) )
tk2

          0         1         2         3
0  0.853388  0.267198  0.789561  0.173573
1  0.590580  0.557804  0.263319  0.931158
2  0.870436  0.556765  0.820071  0.342957
3  0.238799  0.797607  0.160821  0.393841
4  0.432305  0.293095  0.906989  0.409128

In [74]:
sampler = np.random.permutation(5)
sampler

array([1, 4, 2, 0, 3])

In [75]:
tk2.take(sampler)

          0         1         2         3
1  0.590580  0.557804  0.263319  0.931158
4  0.432305  0.293095  0.906989  0.409128
2  0.870436  0.556765  0.820071  0.342957
0  0.853388  0.267198  0.789561  0.173573
3  0.238799  0.797607  0.160821  0.393841

In [77]:
tk2.sample(n=3) #3개 랜덤 선택

          0         1         2         3
1  0.590580  0.557804  0.263319  0.931158
0  0.853388  0.267198  0.789561  0.173573
4  0.432305  0.293095  0.906989  0.409128

In [79]:
ch = pd.Series([5,7,-1,6,4])
draws = ch.sample(n=10, replace=True)
draws

0    5
0    5
1    7
4    4
4    4
4    4
4    4
4    4
3    6
2   -1
dtype: int64

## 더미 생성

In [81]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                   'data1': range(6)})
df

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

In [82]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [83]:
dum = pd.get_dummies(df['key'], prefix='key') #칼럼에 접두어 추가
dum

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [84]:
df_dum = df[['data1']].join(dum)
df_dum

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

### 하나의 값에 여러 개의 더미가 들어가는 경우 예시

In [88]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table(r'C:\Users\user\Desktop\파이썬 책\pydata-book-2nd-edition\datasets\movielens\movies.dat', sep='::',
                       header=None, names=mnames)
movies[:10]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [91]:
all_genres = []
for x in movies.genres:
    all_genres.extend(x.split('|'))
all_genres[0:6]

['Animation', "Children's", 'Comedy', 'Adventure', "Children's", 'Fantasy']

In [93]:
genres = pd.unique(all_genres)
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [96]:
zero_m = np.zeros((len(movies),len(genres)))
dummies = pd.DataFrame(zero_m, columns=genres)
dummies.head(2)

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [98]:
gen = movies.genres[0]
gen.split('|')

['Animation', "Children's", 'Comedy']

In [99]:
dummies.columns.get_indexer(gen.split('|')) #해당 타겟의 columns의 위치를 반환

array([0, 1, 2], dtype=int64)

In [104]:
for i, gen in enumerate(movies.genres):
    ind = dummies.columns.get_indexer(gen.split('|'))
    dummies.iloc[i, ind] = 1 #더미 만드는 작업

In [106]:
movies_win = movies.join(dummies.add_prefix('Genre_'))
movies_win.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

In [107]:
np.random.seed(12345)

values = np.random.rand(10)

bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

pd.get_dummies(  pd.cut(values,bins) )

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

# 문자열 다루기

In [112]:
val = 'a,b,      guido'
val.split(',')

['a', 'b', '      guido']

In [113]:
pieces = [x for x in val.split(',')]
pieces

['a', 'b', '      guido']

In [114]:
pieces = [x.strip() for x in val.split(',')] #strip 사용시 좌우 공백 제거
pieces

['a', 'b', 'guido']

In [116]:
first, second, third = pieces
first + '::' + second + '::' +third

'a::b::guido'

In [117]:
'::'.join(pieces)

'a::b::guido'

In [118]:
'guido' in val

True

In [119]:
val.index(',')

1

In [121]:
val.find(':')

-1

In [120]:
val.index(':')

ValueError: substring not found

In [122]:
val.count(',')

2

In [123]:
val.replace(',','::')

'a::b::      guido'

## 정규 표현식

In [124]:
import re

text = "foo bar\t baz \tqux"

re.split('\s+', text) #하나 이상의 공백을 나누는 경우

['foo', 'bar', 'baz', 'qux']

In [127]:
text = r"foo bar\t baz \tqux"

re.split('\s+', text) #하나 이상의 공백을 나누는 경우

['foo', 'bar\\t', 'baz', '\\tqux']

In [125]:
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [126]:
regex.findall(text)

[' ', '\t ', ' \t']

In [130]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

regex = re.compile(pattern, flags = re.IGNORECASE) #re.IGNORECASE 정규표현식이 대소문자를 가리지 않도록 설정

In [132]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [134]:
m = regex.search(text)
m

In [135]:
text[m.start() : m.end()]

'dave@google.com'

In [137]:
print( regex.match(text) )

None

In [139]:
regex.sub('REDACTED',text)

'Dave REDACTED\nSteve REDACTED\nRob REDACTED\nRyan REDACTED\n'

In [140]:
print( regex.sub('REDACTED',text) ) # 찾은 패턴을 새로운 문자열로 치환

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [141]:
pattern2 = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})' #이메일 주소를 세 가지 컴포넌트로 나누는 경우는 각 패턴에 괄호를 쳐준다

regex2 = re.compile(pattern2, flags=re.IGNORECASE)

In [142]:
m = regex.match('wesm@bright.net')
m

In [143]:
m.groups()

()

In [144]:
m2 = regex2.match('wesm@bright.net')
m2

In [145]:
m2.groups()

('wesm', 'bright', 'net')

In [148]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [147]:
regex2.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [154]:
print( regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text) )

error: invalid group reference 1 at position 11

In [153]:
print( regex2.sub(r'Username: \1, Domain: \2, Suffix: \3', text) )

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

## pandas 문자열 함수

In [155]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [156]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [157]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [172]:
data.str.findall(pattern2, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [192]:
matches = data.str.match(pattern2, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [186]:
data.str[:]

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [182]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object