In [5]:
import os
import numpy as np

import pandas as pd
pd.set_option('max_rows',500)
pd.set_option('display.max_columns', 30)

from pandas import DataFrame

from collections import Counter

import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('figure', figsize=(10, 6))

import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

from tqdm import tqdm, tqdm_notebook

# groupby

In [6]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.794051 -0.278724
1    a  two  1.125269  0.380025
2    b  one -2.173037  0.924965
3    b  two  0.432615 -0.025700
4    a  one  1.125245  0.430592

In [7]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [8]:
grouped.mean()

key1
a    1.014855
b   -0.870211
Name: data1, dtype: float64

In [9]:
means = df['data1'].groupby( [df['key1'],df['key2']] ).mean()
means

key1  key2
a     one     0.959648
      two     1.125269
b     one    -2.173037
      two     0.432615
Name: data1, dtype: float64

In [10]:
means.unstack()

key2       one       two
key1
a     0.959648  1.125269
b    -2.173037  0.432615